*{
    margin: 0;
}

body {
	line-height: 150%;
  
}

/*mai header nav*/

ul {
	list-style: none;
}

.main-header {
    font-family:Kalam;
    width: 100%;
}

.main header img{
    width: 100%;
    height: auto;
}

.main-nav {
    display:flex;
    align-items:center;
    background-color:#262524;
}

.main-nav li:first-child {
    margin-right:auto;
}

.main-nav a {
    margin: 10px;
    padding: 15px;
    display:block;
    text-decoration:none;
    color: #ecb80c;
    font-size: 21px;   
}

.main-nav a:hover {
    color: #f3e308;
}

.main-nav .logo img {
    height: 50px;
    width:  50px;
    align-items: flex-start;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../img/banniereWCS.jpg) no-repeat center;
    background-size: cover;
    height:720px;
}

.hero h1 {
    font-family: Kalam;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    text-shadow: 10px 10px 20px  #262524;
}

.about {
    width: 100%;
    background-color: lemonchiffon;
}

.about h2 {
    font-family: Kalam;
    font-size: 38px;
    font-weight: 400;
    color:  #ecb80c;
    padding: 25px 20px 20px 20px;    
}

.about p {
    line-height: 1.5;
    padding: 0 15px 15px 15px;
    font-family:Kalam;
}

/*royal faamily*/

.royal-family {
    margin: 27px;
}
.royal-family h1 {
    font-family: Kalam; 
    font-size: 36px;
    color: #ecb80c;
    padding-bottom: 18px;
}
.cards {
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-around;  
}

.card {
    padding-top: 15px;  
}

.card img{
    max-width: 210px;
    height: auto;
    border-style: double;
    color: #ecb80c;
}

.card-content h2 {
    text-align: center;
    font-family: Kalam; 
    font-size: 27px;
    color:  #ecb80c;
    margin-top: 15px;
}

/* assets*/

.assets {
    margin: 41px;
}

.assets h1 {
    font-family: Kalam; 
    font-size: 36px;
    color: #ecb80c;
    padding-bottom: 18px;
    margin-left: 21px;
}

table {
    border-collapse: collapse;
    font-family: Kalam;
    font-size: 18px;
    width: 100%;
    margin: 21px auto 0;
    text-align: center;
}

thead {
    font-size: 25px; 
}

table, th, td {
    border-collapse:collapse;
    color: #000000;
    border:1px solid #000000;
    padding: 10px
}

tr:nth-of-type(2n) {
    background-color:#f3e308;
}

 thead, th{
    background-color: #ecb80c;
    font-family: kalam; 
    
}

tbody, tr, td:nth-child(1){
    padding: 3px;
}

/* contact*/

.contact {
    margin: 0;
    background-color: lemonchiffon;  
}

.contact h1 {
    font-family:Kalam;
    font-size: 36px;
    color:#ecb80c;
    padding-left: 41px;
    padding-top: 25px;
    
}
.contact-form {
    padding:41px;
}

.box {
    padding-top: 16px;
    padding-bottom: 16px;
}

label {
    font-family: Kalam; 
    font-size: 21px;
    color:#000000;
    
}
div input {
    margin-top: 10px;
}

div textarea {
    margin-top: 10px;
}

 input,textarea {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
}

button {
    border: none;
    padding: 9px 21px;
    color: #000000;
    background-color: #ecb80c;
    cursor: pointer;
    float: right;     
}

button:hover {
    background-color: #f3e308;
}

